body{
    color: #333333;
    font-size: 18px;
}

blockquote {
    font-size: 95%;
    padding: 20px;
    border: 1px solid;
}

main .introduction {
    background: white;
    padding: 20px;
    border-radius: 6px;
}

.img-fluid{
    margin: 10px auto;
}

footer .btn.btn-default{
    background: #6f42c1;
    color: #fff;
}

footer address {
    background: lightgrey;
    padding: 15px;
}

.box-shadow li{
    margin: 10px 0px;
}