@media (min-width: 1600px){
    .container {
        max-width: calc(100% - 30px);
    }
}

@media (min-width: 1800px){
    .container {
        max-width: calc(100% - 30px);
    }
}

@media (min-width: 1900px){
    .container {
        max-width: calc(100% - 30px);
    }
}


body{
    color: #333333;
    font-size: 18px;
}

blockquote {
    font-size: 95%;
    padding: 20px;
    border: 1px solid;
}

nav.blog-pagination .btn.btn-outline-primary{
    float: left;
    background: white;
    border: 2px solid #005cbf;
    color: #005cbf;
    font-weight: bold;
}

nav.blog-pagination .btn.btn-outline-secondary{
    float: right;
    background: white;
    border: 2px solid #005cbf;
    color: #005cbf;
    font-weight: bold;
}

.img-fluid{
    margin: 10px auto;
}

footer.blog-footer{
    text-align: center;
    padding: 20px;
}

.box-shadow li{
    margin: 10px 0px;
}