$redColor : #ED1F24;
$orangeColor : #F58220;
$yellowColor : #FFCB05;
$greenColor : #00A14B;
$lightGreenColor : #99FF00;
$darkGreenColor : #00AAAC;
$blueColor : #0474BB;
$aquaColor : #00B4EB;
$purpleColor : #7956A4;
$pinkColor : #FF00CC;
$lightPinkColor : #F072AB;
$greyColor : #999999;
$darkColor : #666666;
$blackColor : #000000;


@media print {
  @page {
    size: 210mm 297mm; /* landscape */
    /* you can also specify margins here: */
    margin: 20mm;
    margin-right: 45mm; /* for compatibility with both A4 and Letter */
  }

  @top-center {
    content: element(pageHeader);
  }

  @bottom-center {
    content: element(pageFooter);
  }

  .cv-information,
  .cv-content,
  .break-content-together{
    page-break-inside: avoid;
  }
}

body{
  width: 1100px;
  height: 2780px;
  margin: 0 auto;
  color: #333;
  font-size: 18px;
  line-height: 1.6;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  background-color: #f7f7f7 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: $blackColor;
  margin-top: 5px;
  text-shadow: none;
  font-weight: normal;
  font-family: "Open Sans", Arial, sans-serif;
}


h1 {
  font-size: 28px;
  line-height: 1.2;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  line-height: 1.2;

  .sub{
    float: right;
    font-style: italic;
    color: #687074;
    font-size: 18px;
  }
}

h3 {
  font-size: 20px;
  line-height: 1.2;
}

h4 {
  font-size: 20px;
  line-height: 1.2;
}

h5 {
  line-height: 20px;
}

h6 {
  line-height: 18px;
}




.list-items{
  dl {
    margin-bottom: 25px;

    dd {
      padding: 10px 10px 0px 0px;
    }
  }

  ul{
    list-style-type: none;
    padding: 0px;

    li{
      padding: 5px 0px;
    }

  }

  &.user-info{
    font-size: 18px;

    li{
      position: relative;
      padding: 5px 0px 0px 30px;

      i{
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translate(0%, -50%);
      }
    }
  }
}


.main-container{
  //width: 1654px;
  //margin: 0 auto;
  outline: 2px solid lightgray;
  display: flex;

  .cv-column{
    padding: 0px 15px;

    &.information{
      background: $darkGreenColor;
    }

    &.job-information{
      padding: 15px 15px 15px 25px;
    }
  }

  .cv-avatar{
    text-align: center;
    margin-bottom: 16px;

    .circle-image{
      border-radius: 100%;
      border: 10px solid $darkGreenColor;
      display: inline-block;
      overflow: hidden;
      margin: 10px;

      img{
        max-width: 100%
      }
    }

    h2 {
      text-transform: uppercase;
      text-align: center;
    }
  }
}


.cv-information {
  margin-bottom: 40px;
  padding: 0px 8px;

  h2{
    font-size: 22px;
  }
}

.cv-information-main {
  margin-bottom: 24px;

  h1{
    color: $darkGreenColor;
  }

  h2 {
    margin-bottom: 12px;
  }

  //span.icon{
  //  color: $greenColor;
  //}

  .icon{
    margin-right: 15px;
  }
}


.cv-content {
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 16px;

  .odd{
    background: #f3f3f3;
  }
}



span.process {
  width: 100%;
  background: lightgray;
  height: 8px;
  display: inline-block;
  position: relative;

  .process-bar {
    background: $blueColor;
    height: 8px;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
